appdirs==1.4.3
asgiref==3.2.7
asn1crypto==0.24.0
certifi==2018.1.18
chardet==3.0.4
command-not-found==0.3
cryptography==2.1.4
distlib==0.3.0
distro-info===0.18ubuntu0.18.04.1
dj-database-url==0.5.0
Django==3.0.5
django-forms-bootstrap==3.1.0
django-storages==1.9.1
django-tinymce4-lite==1.8.0
filelock==3.0.12
idna==2.6
importlib-metadata==1.6.0
importlib-resources==1.4.0
jsmin==2.2.2
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
netifaces==0.10.4
pbr==5.4.5
Pillow==9.3.0
pycrypto==2.6.1
pygobject==3.26.1
python-apt==1.6.5+ubuntu0.2
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
requests==2.23.0
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.3.1
ssh-import-id==5.7
stevedore==1.32.0
stripe==2.45.0
ufw==0.36
urllib3==1.22
uWSGI==2.0.18
virtualenv==20.0.17
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
zipp==3.1.0
